  .color{
    color: white;
  }

  .opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .opciones button {
    margin-right: 50px;
    width: 150px;
    margin-top: 10px;
  } 
  
  @media (min-width: 600px) {
    .opciones {
      flex-direction: row;
      justify-content: space-between;
    }

    .opciones button {
      margin-right: 50px;
      width: 150px;
    } 
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
  }
  
  .example-card {
    max-width: 300px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }
  
/*   .example-header-image {
    background-image: url('tu-imagen-aqui.jpg');
    background-size: cover;
  }
   */
  .spacer-button {
    margin-left: 5px;
    flex: 1 1 auto;
  }
  
  mat-card-title,
  mat-card-subtitle {
    margin: 0;
  }