<!-- eslint-disable @angular-eslint/template/alt-text -->
<mat-toolbar color="accent">
  <mat-toolbar-row class="center">
    <span>{{ restaurante?.nombre }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <h2 style="color: white;">Cocina de temática {{ restaurante?.tematica }}</h2>
  <div>
    <mat-tab-group dynamicHeight >
      <mat-tab label="Nuestro Menú">
        <div>
            <mat-tab-group dynamicHeight #myTabGroup>
              <mat-tab label="Entrantes">
                <div style="transform: none;
                display: flex;
                align-items: start;
                justify-content: start;
                margin-top: 5px;
                height: 100%;">
                <mat-card
                  class="example-card"
                  *ngFor="let plato of restaurante?.carta.entrantes; index as i"
                >
                  <mat-card-header>
                    <mat-card-title>{{ plato.nombrePlato }} - {{plato.precio}}€</mat-card-title>
                    <mat-card-subtitle>{{ plato.tipo }}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <img
                      mat-card-image
                      [src]="imagenUrlEntrantes[i]"
                      *ngIf="imagenUrlEntrantes[i]; else defaultImage"
                    />
                    <ng-template #defaultImage class="header-image">
                      <img src="assets/default-plato.jpg" />
                    </ng-template>
                    <h3>Descripción del plato:</h3>
                    <p>{{plato.descripcion}}</p>
                    <h3>Alérgenos:</h3>
                    <p>{{plato.alergenos}}</p>
                  </mat-card-content>
                </mat-card>
              </div>
              </mat-tab>
              <mat-tab label="Primeros platos" >
                <div style="transform: none;
                display: flex;
                align-items: start;
                justify-content: start;
                margin-top: 5px;
                height: 100%;">
                <mat-card
                  class="example-card"
                  style="
                    display: inline-block;
                    width: 300px;
                    height: fit-content;
                    margin-top: 5px;
                    
                  "
                  *ngFor="
                    let plato of restaurante?.carta.primerosPlatos;
                    index as i
                  "
                >
                  <mat-card-header>
                    <mat-card-title>{{ plato.nombrePlato }} - {{plato.precio}}€ </mat-card-title>
                    <mat-card-subtitle>{{ plato.tipo }}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <img
                      mat-card-image
                      [src]="imagenUrlPrimeros[i]"
                      *ngIf="imagenUrlPrimeros[i]; else defaultImage"
                    />
                    <ng-template #defaultImage class="header-image">
                      <img src="assets/default-plato.jpg" />
                    </ng-template>
                    <h3>Descripción del plato:</h3>
                    <p>{{plato.descripcion}}</p>
                    <h3>Alérgenos:</h3>
                    <p>{{plato.alergenos}}</p>
                  </mat-card-content>
                </mat-card>
                </div>
              </mat-tab>
              <mat-tab label="Segundos platos">
                <mat-card
                  class="example-card"
                  style="
                    display: inline-block;
                    width: 300px;
                    height: fit-content;
                    margin-top: 5px;
                  "
                  *ngFor="
                    let plato of restaurante?.carta.segundosPlatos;
                    index as i
                  "
                >
                  <mat-card-header>
                    <mat-card-title>{{ plato.nombrePlato }} - {{plato.precio}}€ </mat-card-title>
                    <mat-card-subtitle>{{ plato.tipo }}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <img
                      mat-card-image
                      [src]="imagenUrlSegundos[i]"
                      *ngIf="imagenUrlSegundos[i]; else defaultImage"
                    />
                    <ng-template #defaultImage class="header-image">
                      <img src="assets/default-plato.jpg" />
                    </ng-template>
                    <h3>Descripción del plato:</h3>
                    <p>{{plato.descripcion}}</p>
                    <h3>Alérgenos:</h3>
                    <p>{{plato.alergenos}}</p>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
              <mat-tab label="Postres">
                <mat-card
                  class="example-card"
                  style="
                    display: inline-block;
                    width: 300px;
                    height: fit-content;
                    margin-top: 5px;
                  "
                  *ngFor="let plato of restaurante?.carta.postres; index as i"
                >
                  <mat-card-header>
                    <mat-card-title>{{ plato.nombrePlato }} - {{plato.precio}}€ </mat-card-title>
                    <mat-card-subtitle>{{ plato.tipo }}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <img
                      mat-card-image
                      [src]="imagenUrlPostres[i]"
                      *ngIf="imagenUrlPostres[i]; else defaultImage"
                    />
                    <ng-template #defaultImage class="header-image">
                      <img src="assets/default-plato.jpg" />
                    </ng-template>
                    <h3>Descripción del plato:</h3>
                    <p>{{plato.descripcion}}</p>
                    <h3>Alérgenos:</h3>
                    <p>{{plato.alergenos}}</p>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
              <mat-tab label="Bebidas" >
                <mat-card
                  class="example-card"
                  style="
                    display: inline-block;
                    width: 300px;
                    height: fit-content;
                    margin-top: 5px;
                  "
                  *ngFor="let plato of restaurante?.carta.bebidas; index as i"
                >
                  <mat-card-header>
                    <mat-card-title>{{ plato.nombrePlato }} - {{plato.precio}}€ </mat-card-title>
                    <mat-card-subtitle>{{ plato.tipo }}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <img
                      mat-card-image
                      [src]="imagenUrlBebidas[i]"
                      *ngIf="imagenUrlBebidas[i]; else defaultImage"
                    />
                    <ng-template #defaultImage class="header-image">
                      <img src="assets/default-plato.jpg" />
                    </ng-template>
                    <h3>Descripción del plato:</h3>
                    <p>{{plato.descripcion}}</p>
                    <h3>Alérgenos:</h3>
                    <p>{{plato.alergenos}}</p>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
            </mat-tab-group>
        
        </div>
      </mat-tab>
      <mat-tab label="Horario de atención">
        <mat-card>
          <mat-card-content>
            <ul *ngFor="let item of restaurante?.horario">
              <li><strong>Días:</strong> {{ item.dias.join(", ") }}</li>
              <li><strong>Horas:</strong> {{ item.horas.join(" - ") }}</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Contacto">
        <mat-card>
          <mat-card-content>
            <p>Email: {{ restaurante?.email }}</p>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Reservas" *ngIf="getSesionIniciada">
        <form [formGroup]="reservasGroup">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre" required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Número de personas</mat-label>
            <input matInput type="number" formControlName="personas" required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Selecciona la fecha</mat-label>
            <input
              readonly
              required
              matInput
              [min]="minDate"
              [matDatepicker]="picker"
              formControlName="fecha"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hora</mat-label>
            <input matInput type="time" formControlName="hora" required />
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="reservar()">
            Reservar
          </button>
        </form>
      </mat-tab>
      <mat-tab label="Comentarios y valoración" *ngIf="getSesionIniciada">
        <mat-card>
          <mat-card-content [formGroup]="valoracionGroup">
            <h3>
              Valoración:
              <span class="spacer-icon"></span>
              {{ valoracionRestaurante | number : "1.0-2" }}/5
              <span class="spacer-icon"></span>
              <mat-icon class="star-icon">star</mat-icon>
              <span class="spacer-icon"></span>
              de {{ numValoracionesRestaurante }} valoraciones
            </h3>

            <h4 *ngIf="restaurante?.valoracion.length === 0">
              Nadie ha valorado aún este restaurante
            </h4>
            <button mat-flat-button color="primary" (click)="addValoracion()">
              Añadir valoracion
            </button>
            <span class="spacer"></span>
            <mat-form-field color="accent">
              <mat-label>Valoración</mat-label>
              <input
                matInput
                type="number"
                formControlName="valoracion"
                pattern="^[0-5]$"
                required
              />
              <mat-error
                *ngIf="valoracionGroup.get('valoracion')?.hasError('required')"
                >Debes escribir tu valoración para añadirla
              </mat-error>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content [formGroup]="comentarioGroup">
            <h3>Comentarios:</h3>
            <ul *ngFor="let item of restaurante?.comentarios">
              <li>{{ item.usuario }} comentó: {{ item.comentario }}</li>
            </ul>
            <button mat-flat-button color="primary" (click)="addComentario()">
              Añadir comentario
            </button>
            <span class="spacer"></span>
            <mat-form-field color="accent">
              <mat-label>Comentario</mat-label>
              <textarea
                matInput
                matTextareaAutosize
                matAutosizeMinRows="3"
                matAutosizeMaxRows="5"
                autocomplete="off"
                formControlName="comentario"
                required
              ></textarea>
              <mat-error
                *ngIf="comentarioGroup.get('comentario')?.hasError('required')"
                >Debes escribir tu comentario para añadirlo
              </mat-error>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
