*{
  color:white;
}
.toolbar{
  background-color: #93A3B1;
  }
.toolbar_spacer {
  flex: 1 1 auto;
}

.toolbar_button{
  color:black;
  width: 10%;
  background-color: transparent;
  box-shadow: none;
  border-radius: 50%;
}
mat-icon{
  color: black;
}
.toolbar_button:hover{
  background-color: #2F4858;
}
@media (max-width: 600px) {
  .toolbar {
    flex-direction: column;
    height: 230px;
  }
  .toolbar_button {
    width: 100%;
    margin: 5px 0;
  }
  .toolbar_spacer {
    display: none;
  }
}
.toolbar_spacer {
  flex: 1 1 auto;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
}

.example-card {
  margin: 0 auto;
  width: 250px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.spacer-button {
  margin-left: 5px;
  flex: 1 1 auto;
}

mat-card-title,
mat-card-subtitle {
  margin: 0;
}

.mensaje-vacio {
  text-align: center;
  font-size: 1.2em;
  color: #777;
}
.header{
  margin: 0 auto;
}
.content{
  margin-left: 2rem;
}

.formCarta{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.formInicioSesion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 7%;
}
.fieldInicioSesion {
  width: 100%;
  margin-bottom: 20px;
}

.fieldCarta{
  margin-right: 10px;
}

.horarioItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}
.ngForItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.horaItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.margen{
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

