<mat-toolbar class="toolbar">
  <span>
    <h1>¡Bienvenido {{ getRestaurante.nombre }}!</h1></span
  >
  <img [src]="imagenUrl" *ngIf="imagenUrl" />
  <span class="toolbar_spacer"></span>
  <button
    mat-fab
    extended
    class="toolbar_button"
    (click)="reservasVisibilidad()"
  >
    <mat-icon>calendar_today</mat-icon>
    Reservas
  </button>
  <span class="toolbar_spacer"></span>
  <button mat-fab extended class="toolbar_button" (click)="editarDatos()">
    <mat-icon>edit</mat-icon>
    Editar Datos
  </button>
  <span class="toolbar_spacer"></span>
  <button mat-fab extended class="toolbar_button" (click)="mostrarGraficas()">
    <mat-icon> bar_chart</mat-icon>
    Mostrar estadísticas
  </button>
  <span class="toolbar_spacer"></span>
  <button mat-fab extended class="toolbar_button" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Cerrar Sesión
  </button>
  <span class="toolbar_spacer"></span>
  <button mat-fab extended class="toolbar_button" (click)="eliminaCuenta()">
    <mat-icon>delete</mat-icon>
    Eliminar Cuenta
  </button>
</mat-toolbar>

<div *ngIf="reservas">
  <h2>Reservas de los usuarios:</h2>

  <div *ngIf="reservasRestaurante.length > 0; else mensajeVacio">
    <form [formGroup]="busquedaForm" class="filtros">
      <mat-form-field class="inputBusqueda">
        <mat-label>Antes de</mat-label>
        <input
          matInput
          [matDatepicker]="fechaAntes"
          datePickerFormat="DD/MM/YYYY"
          placeholder="Fecha"
          formControlName="fechaAntes"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="fechaAntes"
        ></mat-datepicker-toggle>
        <mat-datepicker #fechaAntes></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="inputBusqueda">
        <mat-label>Después de</mat-label>
        <input
          matInput
          [matDatepicker]="fechaDespues"
          datePickerFormat="DD/MM/YYYY"
          placeholder="Fecha"
          formControlName="fechaDespues"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="fechaDespues"
        ></mat-datepicker-toggle>
        <mat-datepicker #fechaDespues></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="inputBusqueda">
        <mat-label>Antes de las</mat-label>
        <input
          matInput
          type="time"
          placeholder="Hora"
          formControlName="horaAntes"
        />
      </mat-form-field>
      <mat-form-field class="inputBusqueda">
        <mat-label>Después de las</mat-label>
        <input
          matInput
          type="time"
          placeholder="Hora"
          formControlName="horaDespues"
        />
      </mat-form-field>
      <mat-form-field class="inputBusqueda">
        <mat-label>Mínimo de comensales</mat-label>
        <input
          matInput
          type="number"
          step="1"
          placeholder="Comensales"
          formControlName="comensalesMin"
        />
      </mat-form-field>
      <mat-form-field class="inputBusqueda">
        <mat-label>Máximo comensales</mat-label>
        <input
          matInput
          type="number"
          step="1"
          placeholder="Comensales"
          formControlName="comensalesMax"
        />
      </mat-form-field>
      <mat-form-field class="inputBusqueda">
        <mat-label>Estado de la reserva</mat-label>
        <mat-select formControlName="estado">
          <mat-option *ngFor="let estado of estados" [value]="estado">{{
            estado
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="inputBusqueda">
        <mat-label>Ordenar por</mat-label>
        <mat-select formControlName="ordenado">
          <mat-option *ngFor="let orden of ordenado" [value]="orden">{{
            orden
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="aplicarFiltros()"
        class="inputBusqueda"
      >
        Aplicar Filtros
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="quitarFiltros()"
        class="inputBusqueda"
      >
        Quitar Filtros
      </button>
    </form>
    <ul>
      <li *ngFor="let result of reservasRestaurante; index as i">
        <mat-card class="example-card" [ngClass]="{ cancelado: result.estado }">
          <!-- -->
          <mat-card-header class="header">
            <mat-card-title>Reserva de {{ result.usuario }}</mat-card-title>
            <mat-card-subtitle><h3>Datos de la reserva:</h3></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="content">
            <h4>Día de la reserva: {{ result.fecha | formateoFechas }}</h4>
            <h4>Hora de la reserva: {{ result.hora }}</h4>
            <h4>Comensales: {{ result.personas }}</h4>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-flat-button
              color="primary"
              (click)="eliminarReserva(i)"
              *ngIf="result.estado"
            >
              Eliminar
            </button>
            <button
              mat-flat-button
              color="primary"
              (click)="cancelarReserva(i)"
              *ngIf="!result.estado"
            >
              Cancelar reserva
            </button>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="editar">
  <mat-tab-group>
    <mat-tab label="Carta y temática">
      <form [formGroup]="carta" class="formCarta">
        <mat-form-field class="fieldCarta">
          <input
            autocomplete="off"
            matInput
            placeholder="Temática"
            formControlName="tematica"
            required
          />
        </mat-form-field>
        <div formArrayName="platos">
          <ng-template matStepLabel>Añade tus platos</ng-template>

          <div
            *ngFor="let plato of getPlatos.controls; let i = index"
            [formGroupName]="i"
          >
            <h3>Plato {{ i + 1 }}</h3>
            <div class="contenedorCarta">
              <mat-form-field class="fieldCarta">
                <input
                  autocomplete="off"
                  matInput
                  placeholder="Nombre del plato"
                  formControlName="nombrePlato"
                  required
                />
              </mat-form-field>
              <mat-form-field class="fieldCarta">
                <input
                  autocomplete="off"
                  matInput
                  placeholder="Precio del plato"
                  formControlName="precio"
                  type="number"
                  step="0.01"
                  pattern="\d+(\.\d{1,2})?"
                  required
                />
              </mat-form-field>
              <mat-form-field class="fieldCarta">
                <mat-label>Selecciona una opción</mat-label>
                <mat-select formControlName="tipo" required>
                  <mat-option *ngFor="let option of options" [value]="option">{{
                    option
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="contenedorImagen">
                <mat-form-field>
                  <ngx-mat-file-input
                    (change)="onFileChange($event, i)"
                    (mouseover)="showImage[i] = true"
                    (mouseout)="showImage[i] = false"
                    type="file"
                    enctype="multipart/form-data"
                    formControlName="fotografiaPlato"
                    [placeholder]="placeholder[i]"
                    [accept]="'.jpg'"
                  ></ngx-mat-file-input>
                  <mat-icon matSuffix class="carpeta">folder_shared</mat-icon>
                  <mat-hint>Previsualiza pasando el ratón</mat-hint>
                </mat-form-field>
                <div
                  class="previsualizacion"
                  *ngIf="showImage[i] && checkValue(i)"
                >
                  <img class="tamImagen" [src]="imageSrc[i]" />
                </div>
              </div>
              <button
                mat-raised-button
                color="primary"
                (click)="eliminarPlato(i)"
                class="boton_derecho"
              >
                Eliminar Plato
              </button>
            </div>
          </div>
        </div>
        <div class="button-row">
          <button
            mat-raised-button
            color="primary"
            (click)="agregarPlato()"
            class="boton_derecho"
          >
            Agregar Plato
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="guardarCarta()"
            class="boton_derecho"
          >
            Guardar Carta
          </button>
        </div>
      </form></mat-tab
    >
    <mat-tab label="Horario" [formGroup]="horario">
      <div formArrayName="horario" class="horarioItems">
        <div
          *ngFor="let horario of horarios.controls; let i = index"
          [formGroupName]="i"
          class="ngForItems"
        >
          <h3>Horario {{ i + 1 }}</h3>
          <mat-form-field>
            <mat-label>Días de apertura</mat-label>
            <mat-select formControlName="dias" multiple>
              <mat-option *ngFor="let dia of dias" [value]="dia">{{
                dia
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div formArrayName="horas" class="horaItems">
            <mat-form-field>
              <mat-label>Hora de apertura</mat-label>
              <input matInput type="time" [formControlName]="0" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>Hora de cierre</mat-label>
              <input matInput type="time" [formControlName]="1" />
            </mat-form-field>
          </div>
          <button
            mat-raised-button
            color="primary"
            (click)="eliminarHorario(i)"
            class="margen"
          >
            Eliminar Horario
          </button>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" (click)="agregarHorario()">
            Agregar horario
          </button>
          <button mat-raised-button color="primary" (click)="editarHorario()">
            Guardar horarios
          </button>
        </div>
      </div>

      <div></div
    ></mat-tab>
    <mat-tab label="Inicio de sesión">
      <form [formGroup]="inicioSesion" class="formInicioSesion">
        <mat-form-field class="fieldInicioSesion">
          <input
            matInput
            placeholder="tucorreo@dominio.com"
            formControlName="email"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            required
          />
          <mat-error *ngIf="email!.invalid && inicioSesion.touched"
            >El correo debe estar bien formado
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="fieldInicioSesion">
          <mat-label>Introduce tu contraseña</mat-label>
          <input
            autocomplete="new-password"
            type="password"
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            required
          />
          <mat-error *ngIf="password!.invalid && inicioSesion.touched"
            >La contraseña debe tener 6 caracteres mínimo.
          </mat-error>
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="fill" class="fieldInicioSesion">
          <mat-label>Repite tu contraseña</mat-label>
          <input
            type="password"
            formControlName="passwordRepetida"
            matInput
            [type]="hideRepetida ? 'password' : 'text'"
            required
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hideRepetida = !hideRepetida"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideRepetida"
          >
            <mat-icon>{{
              hideRepetida ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          (click)="cambiarInicioSesion()"
        >
          Cambiar Inicio de Sesión
        </button>
      </form></mat-tab
    >
  </mat-tab-group>
</div>
<ng-template #mensajeVacio>
  <div class="mensaje-vacio">No hay resultados para mostrar.</div>
</ng-template>

<div *ngIf="graficas">
  <h2>Estadísticas:</h2>
  <div class="grid_graficas">
    <div class="grid_graficas_chart1">
      <app-reservas-chart></app-reservas-chart>
    </div>
    <div class="grid_graficas_chart2">
      <app-visitados-chart></app-visitados-chart>
    </div>
    <div class="grid_graficas_chart3">
      <app-carta-chart></app-carta-chart>
    </div>
    <div class="grid_graficas_chart4">
      <app-horas-chart></app-horas-chart>
    </div>
  </div>
</div>
