<div class="opciones">
  <h1 class="color">¡Bienvenido al restaurante {{ restaurante.nombre }}!</h1>

  <button mat-fab extended color="warn" (click)="reservasVisibilidad()">
    <mat-icon>calendar_today</mat-icon>
    Reservas
  </button>
  <button mat-fab extended color="warn" (click)="editarDatos()">
    <mat-icon>edit</mat-icon>
    Editar datos
  </button>
  <button mat-fab extended color="warn" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Cerrar Sesión
  </button>
</div>
<hr />
<div *ngIf="editar">
  <h2 class="color">Editar campos:</h2>
</div>
<div *ngIf="reservas">
  <h2 class="color">Reservas de los clientes:</h2>
  <!--   <ul>
    <li *ngFor="let reserva of restaurante.; index as i">
      {{ i + 1 }}. {{ reserva }}
    </li>
  </ul> -->
</div>
