<div class="busqueda">
  <div class="search-container">
    <input
      class="search-input"
      [(ngModel)]="searchCityTerm"
      type="text"
      placeholder="¿Dónde quieres comer?"
    />
  </div>
  <span class="spacer"></span>
  <div class="search-container">
    <input
      class="search-input"
      [(ngModel)]="searchTerm"
      type="text"
      placeholder="¿En que restaurante?"
    />
    <button class="search-button" (click)="search()">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>

<div class="contenedor">
  <div
    class="results-container"
    *ngIf="results.length != 0 || busqueda; else mensajeBuscar"
  >
    <h2>Resultados</h2>
    <ul>
      <li *ngFor="let result of results; index as i">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ result.nombre }}</mat-card-title>
            <mat-card-subtitle>{{ result.tematica }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h3><b>Comentarios de los usuarios:</b></h3>
            <li *ngFor="let comentario of result.comentarios">
              {{ comentario.usuario }} comentó: {{ comentario.comentario }}
            </li>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary" (click)="verRestaurante(i)">
              Ver Restaurante
            </button>
            <span class="spacer-button"></span>
            <button
              mat-flat-button
              color="primary"
              (click)="guardarFavorito(i)"
            >
              Guardar en Favoritos
            </button>
            <span class="spacer-button"></span>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </div>
  <div id="map"></div>
</div>
<ng-template #mensajeBuscar>
  <div class="mensaje">Comienza a buscar restaurantes</div>
</ng-template>
