@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

.busqueda{
  margin-top: 20px;
display: flex;
justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.spacer-button{
  margin-left: 2px;
  margin-right: 2px;
}

.search-input {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  font-size: 18px;
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-button {
  width: 30%;
  height: 100%;
  background-color: #3498db;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-button:hover {
  background-color: #2980b9;
}

@media (max-width: 752px) {
  .search-button {
    margin-top: 10px;
  }
} 

.spacer{
  padding-left: 10%;
}

.fa-search {
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 18px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.contenedor {
  /* Para asegurarnos de que los contenidos se ajusten al tamaño de la pantalla */
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-top: 10px;
  height: 70%;
}

.results-container {
  /* Para asegurarnos de que el contenido se ajuste al tamaño del contenedor */
  min-height: 0;
  /* Ancho del 50% de la pantalla */
  width: 50%;
  /* Para permitir que el contenido crezca y se desborde si es necesario */
  overflow-y: scroll;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  background-color: white;
}

.mensaje {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0;
font-size: 25px;
color: white;
}

#map{
  margin: 0 auto;
  width: 40%;
  min-height: 400px;
  max-height: 700px;
  height: 100%;
}

@media (max-width: 752px) {
  mat-card-actions {
    display: flex;
    flex-direction: column;
  }
  button {
    margin-bottom: 10px;
  }
}