<div class="busqueda">
  <div class="search-container">
    <input
      class="search-input"
      [(ngModel)]="searchCityTerm"
      type="text"
      placeholder="¿Dónde quieres comer?"
      (keyup)="mostrarSugerencias($event)"
    />
  </div>
  <span class="spacer"></span>
  <div class="search-container">
    <input
      class="search-input"
      [(ngModel)]="searchTerm"
      type="text"
      placeholder="¿En que restaurante?"
    />
    <button class="search-button" (click)="search()">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>

<div class="resCont" *ngIf="res.length > 0">
  <ul>
    <li
      *ngFor="let item of res; index as i"
      class="res"
      (click)="asignaValor(item.display_name)"
    >
      {{ item.display_name }}
      <hr *ngIf="res[i] !== res[res.length - 1]" />
    </li>
  </ul>
</div>

<div class="contenedor">
  <div
    class="results-container"
    *ngIf="results.length != 0 || busqueda; else mensajeBuscar"
  >
    <form [formGroup]="busquedaForm" class="filtros">
      <mat-form-field class="inputBusqueda">
        <mat-label>Fecha</mat-label>
        <input
          matInput
          [matDatepicker]="fecha"
          datePickerFormat="DD/MM/YYYY"
          placeholder="Fecha"
          formControlName="fecha"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
        <mat-datepicker #fecha></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="inputBusqueda">
        <mat-label>Hora</mat-label>
        <input matInput type="time" placeholder="Hora" formControlName="hora" />
      </mat-form-field>
      <mat-form-field class="inputBusqueda">
        <mat-label>Personas</mat-label>
        <input
          matInput
          type="number"
          step="1"
          placeholder="Personas"
          formControlName="personas"
        />
      </mat-form-field>
      <mat-form-field class="inputBusqueda">
        <mat-label>Temática</mat-label>
        <input
          matInput
          type="text"
          placeholder="Temática"
          formControlName="tematica"
        />
      </mat-form-field>

      <mat-form-field class="inputBusqueda">
        <mat-label>Precio medio mínimo</mat-label>
        <input
          matInput
          type="number"
          placeholder="Precio"
          formControlName="precioMin"
        />
      </mat-form-field>

      <mat-form-field class="inputBusqueda">
        <mat-label>Precio medio máximo</mat-label>
        <input
          matInput
          type="number"
          placeholder="Precio"
          formControlName="precioMax"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ordenar por</mat-label>
        <mat-select formControlName="ordenado">
          <mat-option *ngFor="let orden of ordenado" [value]="orden">{{
            orden
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <ul>
      <li *ngFor="let result of results; index as i">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="header-image">
              <img
                [src]="imagenUrl[i]"
                *ngIf="imagenUrl[i]; else defaultImage"
              />
              <ng-template #defaultImage class="header-image">
                <img src="assets/default-user.jfif" />
              </ng-template>
            </div>
            <mat-card-title>{{ result.nombre }}</mat-card-title>
            <mat-card-subtitle>{{ result.tematica }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h3>
              Valoración:
              <span class="spacer-icon"></span>
              {{ valoracionRestaurante(i) | number : "1.0-2" }}/5
              <span class="spacer-icon"></span>
              <mat-icon class="star-icon">star</mat-icon>
              <span class="spacer-icon"></span>
              de {{ numValoracionesRestaurante(i) }} valoraciones
            </h3>

            <li *ngFor="let comentario of result.comentarios">
              {{ comentario.usuario }} comentó: {{ comentario.comentario }}
            </li>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary" (click)="verRestaurante(i)">
              Ver Restaurante
            </button>
            <span class="spacer-button"></span>
            <button
              mat-flat-button
              color="primary"
              (click)="guardarFavorito(i)"
            >
              Guardar en Favoritos
            </button>
            <span class="spacer-button"></span>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </div>
  <div id="map"></div>
</div>
<ng-template #mensajeBuscar>
  <div class="mensaje">Comienza a buscar restaurantes</div>
</ng-template>
