<p>
  <mat-toolbar color="primary">
    <span>Recomendador</span>
    <span class="spacer"></span>
    <a routerLink="/home" class="icon"
      ><mat-icon class="home-icon">home</mat-icon>
      Incio
    </a>
    <span class="spacer"></span>
    <a routerLink="/auth/login" class="icon">
      <mat-icon class="sesion-icon">perm_identity</mat-icon>Iniciar Sesión
    </a>
    <span class="spacer"></span>

    <!-- FIXME: Crear ruta y asignarla a este link-->
    <a routerLink="/auth/login" class="icon">
      <mat-icon class="restaurante-icon"> restaurant</mat-icon>Registra tu
      restaurante
    </a>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
