<mat-vertical-stepper [linear]="false" #stepper class="relleno">
  <mat-step [stepControl]="datosPersonales">
    <form [formGroup]="datosPersonales">
      <ng-template matStepLabel>Datos personales</ng-template>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input
          autocomplete="off"
          matInput="Nombre"
          formControlName="nombre"
          required
        />
      </mat-form-field>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Fecha de nacimiento</mat-label>
        <input
          matInput
          [matDatepicker]="fechaNacimiento"
          formControlName="fechaNacimiento"
          datePickerFormat="DD/MM/YYYY"
          readonly
          required
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="fechaNacimiento"
        ></mat-datepicker-toggle>
        <mat-datepicker #fechaNacimiento></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button (click)="fileInput.click()">
        Seleccionar archivo
      </button>
      <input
        hidden
        type="file"
        #fileInput
        (change)="uploadFile($event)"
        accept=".jpg"
      />
      <div>
        <button mat-raised-button color="primary" matStepperNext>
          Siguiente
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="inicioSesion">
    <form [formGroup]="inicioSesion" class="inicio_sesion">
      <ng-template matStepLabel>Configuración de inicio de sesión</ng-template>
      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input
          matInput="tucorreo@dominio.com"
          formControlName="email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          required
        />
        <mat-error *ngIf="email!.invalid && inicioSesion.touched"
          >Correo mal formado
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Introduce tu contraseña</mat-label>
        <input
          type="password"
          formControlName="password"
          matInput
          [type]="hide ? 'password' : 'text'"
          required=""
        />
        <mat-error *ngIf="password!.invalid && inicioSesion.touched"
          >La contraseña debe tener 6 caracteres mínimo.
        </mat-error>
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Repite tu contraseña</mat-label>
        <input
          type="password"
          formControlName="passwordRepetida"
          matInput
          [type]="hideRepetida ? 'password' : 'text'"
          required=""
        />
        <mat-error *ngIf="passwordRepetida!.invalid && inicioSesion.touched"
          >Las contraseñas deben coincidir
        </mat-error>
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideRepetida = !hideRepetida"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideRepetida"
        >
          <mat-icon>{{
            hideRepetida ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>
          Atrás
        </button>
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          class="boton_derecho"
        >
          Siguiente
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Terminar</ng-template>
    <div
      *ngIf="inicioSesion.valid && datosPersonales.valid; else elementoOculto"
    >
      <h3 class="terminar">
        ¡Has rellenado todos los datos! Pulsa en continuar para registrar tu
        cuenta.
      </h3>
    </div>
    <ng-template #elementoOculto>
      <h3 class="terminarError">
        Faltan campos requeridos por rellenar. Asegurate de que están
        rellenados.
      </h3></ng-template
    >

    <div>
      <button mat-raised-button color="primary" matStepperPrevious>
        Atrás
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="creaUsuario()"
        class="boton_derecho"
      >
        Continuar
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>
